html, body {
  height: 600px;
  width: 800px;
  margin: 0px;
  padding: 0;
  background-image: linear-gradient(135deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(219, 219, 219));
}

body {
  background-image: url("/assets/img/web.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 300px;
}

#background {
  text-align: center;
}

#heading {
  position: relative;
  right: 5%;
  bottom: -15px;
  
  width: 35%;
  text-align: center;
}

#help {
  position: relative;
  left: 59%;
  height: 40px;
  width: 60px;
  text-align: center;
  background-image: url(/assets/img/help.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

#help:hover {
  background-image: url(/assets/img/help-black.png);
}

.wrapper {
  display: block;
  width: 100%;
  column-gap: 10px;
}

.cryptoInput {
position:relative;
top: -20px;
}

#inputAmount {
  position:relative;
  top: -50px
}

#left-side {
  float: left;
  width: 68%;
}

#right-side {
  float: right;
  width: 28%;
}

#show-currency-div {
  width: 100%;
  height: 380px;
  text-align: center;
  margin: 10px 0;
  overflow-y: auto;
  overflow-x: hidden;
  border: 3px solid #f7f7f7;
}

#show-currency-div th {
  font-weight: 700;
}

#show-currency-div td {
  font-weight: 500;
}

.crypto-table {
  table-layout: fixed;
  overflow-wrap: break-word;
  overflow: clip;
  width: 100%;
  border-collapse: collapse;
  cursor: pointer;
  margin: 10px 0;
}

.crypto-table td {
  border: 2px solid rgb(245, 245, 245);
}

.crypto-row-cell {
  width: 5%;
}

.crypto-id-cell {
  width: 17%;
}

.crypto-name-cell {
  width: 43%;
}

.crypto-logo-cell {
  width: 10%;
}

.crypto-amount-cell {
  width: 25%;
}

.crypto-logo {
  height: 2rem;
}

.crypto-row-selected {
  background-color: #fffac4;
}

.crypto-row-deselected {
  background-color: unset;
}

#add-new-currency-div {
  width: 100%;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  column-gap: 1rem;
  margin-top: 1rem;
  margin-left: 0rem;
}

.input-style {
  border-style:none; 
  background-color: #f5f5f5;
  border-radius: 0px;
  box-sizing: border-box;
  color: rgb(161, 161, 161);
  font-size: 0.9rem;
  outline: 0;
  width: 80%;
  padding: 10px 15px;
  box-shadow: 1px 1px 3px 0px rgb(83, 83, 83);
  margin-bottom: 1rem;
  margin-top: 1rem;
  transition: 220ms all ease-in-out;
}


.input-style:hover {
  background-color: #fefefe;
}

#save-button {
  border-style:none; 
  padding: 10px;
  width: 80px;
  position: relative;
  right: 0px ;
  top: -50px;
}

#back-button {
  background-position: center;
  height: 45px;
  width: 80px;
  position: relative;
  right: -20px;
  top: -50px;
  background-image: url(/assets/img/back.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

#back-button:hover {
  background-image: url(/assets/img/back-black.png);
}

#table-buttons-div {
  display: grid;
  grid-template-columns: 1fr 1fr 0.2fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 3px;
}

.smaller-buttons {
  margin: 0 10px 0 10px;
}

#first-text {
  font-size: 1rem;
  text-align: center;
}

.second-text {
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
}

.coingecko {
  color: rgb(143, 143, 143);
  font-size: 0.6rem;
}

#coingecko-div {
  position: relative;
  bottom: 20px;
  left: 0px;
  text-align: left;
  padding-right: 10px;
}

#footage-div {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#facebook {
  text-align:center;
  height: 30%;
  padding: 70px;
}

.text-danger {
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-error {
  animation: effect 0.5s;
  border-style:none; 
  background-color: #f5f5f5;
  border-radius: 0px;
  box-sizing: border-box;
  color: rgb(161, 161, 161);
  font-size: 0.9rem;
  outline: 0;
  width: 60%;
  padding: 10px 15px;
  box-shadow: 1px 1px 3px 0px rgb(83, 83, 83);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@keyframes effect {
  0% {
      transform: translateX(0px) rotate(8deg);
      background-color: #f5f5f5;
  }
  10% {
    transform: translateX(-4px) rotate(-8deg);
  }
  20% {
      transform: translateX(-4px) rotate(6deg);
      background-color: #e0a1a1;
  }
  30% {
    transform: translateX(-4px) rotate(-6deg);
  }
  40% {
      transform: translateX(-2px) rotate(4deg);
  }
  50% {
    transform: translateX(-4px) rotate(-4deg);
    background-color: #f5f5f5;
  }
  60% {
      transform: translateX(4px) rotate(2deg);
  }
  70% {
    transform: translateX(-4px) rotate(-2deg);
  }
  80% {
      transform: translateX(2px) rotate(1deg);
  }
  90% {
    transform: translateX(-4px) rotate(-1deg);
  }
  100% {
      transform: translateX(0px) rotate(0deg);
  }
}

.row-width1 {
  min-width:  60%;
}