<!doctype html>
<html>
  <head>
  </head>
  <body>

    <!-- Editing list of assets page -->
    <div id="background" class="wrapper">
      <button unsafe-inline id="help" class="btn" routerLink="/help" data-toggle="tooltip" data-html="true" title="Help"></button>
      <img id="heading" src="/assets/img/logo.png">
      <div id="first-text"><strong>safe Crypto price</strong> is a tool for crypto traders and crypto enthusiasts<br>where you can get prices of your favourite cryptos in real time.<br> 
      You can trace prices of any crypto you have or wish to have <strong>SAFELY!</strong><br> <strong>You'll never have to enter any password!</strong> </div>
    </div>
    <div class="wrapper">

      <!-- Table of crypto assets -->
      <div id="left-side">
        <div id="show-currency-div">
          <table class="crypto-table">
            <thead>
              <tr>
                <th class="crypto-row-cell"></th>
                <th class="crypto-id-cell">Id</th>
                <th class="crypto-name-cell">Name</th>
                <th class="crypto-logo-cell">Logo</th>
                <th class="crypto-amount-cell">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let crypto of userCrypto; let i=index" (click)="selectRow(i)" id="row-number{{i}}" [ngClass]="i === selectedRow? 'crypto-row-selected' : 'crypto-row-deselected'">
                <th>{{i+1}}</th>
                <td >{{crypto.symbol}}</td>
                <td>{{crypto.name}} - {{crypto.label}}</td>
                <td><img class="crypto-logo" src="{{crypto.thumb}}" alt="logo"></td>
                <td>{{crypto.amount}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Table controls -->
        <div id="table-buttons-div">
          <button  id="upButton" class="btn smaller-buttons" (click)="upButton()" data-toggle="tooltip" data-html="true" title="Change the order of the selected asset.">Up</button>
          <button id="downButton" class="btn smaller-buttons" (click)="downButton()" data-toggle="tooltip" data-html="true" title="Change the order of the selected asset.">Down</button>
          <div></div>
          <button id="editButton" class="btn smaller-buttons" (click)="editButton()" data-toggle="tooltip" data-html="true" title="Edit selected asset.">Edit</button>
          <button id="deleteButton" class="btn smaller-buttons" (click)="deleteButton()" data-toggle="tooltip" data-html="true" title="Delete selected asset.">Delete</button>
        </div>
      </div>

      <!-- Inputs -->
      <div id="right-side">
        <div id="add-new-currency-div" class="wrapper">
            <form [formGroup]="addNewCurrencyFG" (ngSubmit)="submit()">
              <div id="cdyptoIdlabel">
                <label class="second-text">Enter your crypto Id:</label>
              </div>

              <!-- Input currency Id-->
              <div  class="form-group cryptoInput" [ngClass]="{'has-danger': cryptoIdNameInvalid()}">
                <input id="input" list="currencies-datalist" #cryptoName placeholder="crypto Id" data-toggle="tooltip" data-html="true" title="Type your crypto Id.&#013;Minimum 3 characters are needed to start search."
                  formControlName="cryptoIdName" (click)="reset()" (keyup)="getInputData(cryptoName.value)"
                  [ngClass]= "(resetCryptoIdName || (cryptoIdNameInvalid() && cryptoIdName.errors?.required) || (cryptoIdNameInvalid() && cryptoIdName.errors?.testCryptoName))? 'input-error' :'input-style'">
                <datalist id="currencies-datalist">
                </datalist>
              
                <!-- Input label -->
                <label class="second-text">Enter label: (optional)</label>
                <input class="cryptoInput" #cryptoLabel placeholder="crypto label" formControlName="cryptoLabel" maxlength="15"
                  [ngClass]= "'input-style'" data-toggle="tooltip" data-html="true" title="A reminder to help you identify&#013;where your cryptocurrency is.&#013;Maximum 15 characters are allowed.">
              </div>
              
              <!-- Input amount -->
              <div id="inputAmount" class="form-group" [ngClass]="{'has-danger': cryptoAmountInvalid()}" data-toggle="tooltip" data-html="true" title="The amount of your crypto currency&#013;you have (or wish to have).">
                <label class="second-text">Enter amount:</label>
                <input type="number" step=0.00000001 min=0 class="input-style cryptoInput" placeholder="amount" formControlName="cryptoAmount">
                <label class="text-danger" for="cryptoAmount" *ngIf="cryptoAmountInvalid() && cryptoAmount.errors?.min">Crypto amount must be positive number.</label>
              </div>
              
              <!-- Save and Back buttons -->
              <div id="save-button-wrap">
                <button type="submit" id="save-button" class="btn" data-toggle="tooltip" data-html="true" title="Save new/edited crypto currency.">Save</button>
                <button routerLink="/popup" id="back-button" class="btn" data-toggle="tooltip" data-html="true" title="Finish editing."></button>
              </div>
              
              <!-- Coingecko link -->
              <div id="coingecko-div">
                <a href="https://www.coingecko.com/" target="_blank" class="coingecko">Crypto Market Cap &amp; <br>Pricing Data Provided By coingecko.com</a>
              </div> 
            </form>
        </div>
      </div>
    </div>
  </body>
</html>