<!doctype html>
<html>
  <head></head>
  <body>
    <div id="background">
      <img id="heading" src="/assets/img/logo.png">
      
      <div id="refresh-button-wrapper">
        <div></div>
        <div></div>
        
        <!-- Button for getting fresh prices  -->
        <div>
          <button id="refresh-button" class="btn" (click)="refreshPrices()" data-toggle="tooltip" data-html="true" title="Refresh current prices">REFRESH</button>
        </div>
        <div></div>

        <!-- Button for editing crypto list  -->
        <div>
          <button id="options" class="btn" routerLink="/options" data-toggle="tooltip" data-html="true" title="Edit list of your crypto currencies">EDIT LIST</button> 
        </div>
      </div>
      
      <!-- Table of assets with prices -->
      <div id="prices">
        <table class="price-table">
          <thead>
            <tr>
              <th class="price-row-cell"></th>
              <th class="price-id-cell">Id</th>
              <th class="price-name-cell">Name</th>
              <th class="price-logo-cell">Logo</th>
              <th class="price-price-cell">Price</th>
              <th class="price-value-cell">Your crypto value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let crypto of cryptoTablePopupObjects; let i=index">
              <th>{{i+1}}</th>
              <td>{{crypto.id}}</td>
              <td>{{crypto.name}}</td>
              <td><img class="crypto-logo" src="{{crypto.logoUrl}}" alt="logo"></td>
              <td>${{crypto.price}}</td>
              <td>${{crypto.yourValue}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Value of all crypto assets from list  -->
      <div id="sum">
        <label>Sum of all crypto values: <strong> ${{sumOfAll | number}} </strong></label>
      </div>
    </div>
  </body>
</html>