html, body {
  margin: 0;
  overflow: hidden;
  width: 800px;
  height: 600px;
  background-image: linear-gradient(135deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(219, 219, 219));
}

#background {
  background-image: url("/assets/img/web.png");
  background-position: left top;
  background-repeat: no-repeat;
  padding: 10px;
  text-align: center;
}

#heading {
  width: 300px;
}

#refresh-button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-bottom: 8px;
}

#prices {
  width: 100%;
  height: 380px;
  text-align: center;
  margin: 10px 0;
  overflow-y: auto;
  overflow-x: hidden;
  border: 3px solid #dfdfdf;
}

.crypto-logo {
  height: 30px;
  width: auto;
}

.price-table {
  table-layout: fixed;
  overflow-wrap:break-word;
  overflow:auto;
  width: 100%;
  font-weight: 500;
  border-collapse: collapse;
  margin: 10px 0;
  height: 3rem;
}

.price-table td {
  border: 2px solid rgb(245, 245, 245);
}

.price-row-cell {
  width: 5%;
}

.price-id-cell {
  width: 15%;
}

.price-name-cell {
  width: 33%;
}

.price-logo-cell {
  width: 7%;
}

.price-price-cell {
  width: 20%;
}

.price-value-cell {
  width: 20%;
}

.price-table thead {
  height: 3rem;
}

#banner {
  width: 100%;
  text-align: center;
}
 
// Summ of all crypto values 
#sum {
  text-align: right;
  position: relative;
  right: 20px;
}