html, body {
  height: 600px;
  width: 800px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

body {
  background-image: url("/assets/img/helpbck.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100%;
}

#background {
  position: relative;
  padding: 10px;
  text-align: center;
}

#back-button {
 background-position: center;
 height: 45px;
 width: 80px;
 background-image: url(/assets/img/back.png);
 background-size: 30px 30px;
 background-repeat: no-repeat;
}

#back-button:hover {
 background-image: url(/assets/img/back-black.png);
}

.btn {
  size: 30%;
  position: absolute;
  top: 28px;
  right: 45px;
  font-size: 18px;
 }
 
 // Text style and positioning 
#text-wrapper {
  text-align: left;
  font-weight:300;
  line-height: 0;
  position: relative;
  top: 200px;
}
#text {
  text-align: center;
  font-weight: 500;
  line-height: 0;
  position: relative;
  left: -150px;
}

#text2 {
  text-align: center;
  font-weight: 500;
  line-height: 0;
  position: relative;
  left: -150px;
  top: 45px;
}

#text3 {
  text-align: center;
  font-weight: 500;
  line-height: 0;
  position: relative;
  left: -150px;
  top: 90px;
}

#text4 {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  line-height: 0;
  position: relative;
  left: -300px;
  top: 130px;
  
  #donation-div {
    position: absolute;
    top: 440px;
    right: 265px;
    font: italic bold Georgia, sans-serif;
    font-size: 0.8rem;
    margin-left: 50px;
    line-height: 1.2;
    padding: 0.5rem;
  }
  
   #facebook {
    size: 30%;
    position: absolute;
    top: 500px;
    right: 45px;
    font-size: 18px;
  }
}