body {
  font-family: 'Roboto';
  color: #2A3439;
  overflow: hidden;
  size: 95%
}

.btn {
  cursor: pointer;
  border-style:none; 
  padding: 10px;
  box-shadow: 1px 1px 3px 0px rgb(83, 83, 83);
  transition: 220ms all ease-in-out;
}

.btn:hover {
  background-color: rgb(231, 231, 231);
}

.btn:active {
  cursor: progress;
  transform: translateY(3px);
  box-shadow: 1px 1px 1px 0px rgb(49, 49, 49);
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
